/* src/app/homepage/homepage.component.css */
body{
  background-color: #f8f8f8;
}

.main {
  background-color: 	#116530;
  text-align: center;
  color: #2c2c2c;
}

.Page-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  min-width: none;
}

.Page-Column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  min-width: none;
  margin-top: 100px;
}

table {
  width: 50%;
}

form {
  width: 35%;
}
/*
black: #2c2c2c
green: #116530
pink: #ff8c8c
lightblue: #9ad7f1
white: #f8f8f8
 */