<main class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2eabe0;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/Images/logo.jpg" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand" href="#">Inspection Analysis</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Create a New Inspection
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#"></a>Create a new Dataset</li>
                  <li><a class="dropdown-item" href="#"></a>Web scrape Images</li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Current Inspection Patterns
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/InspectionTraining">Occupancy Inspection Training</a></li>
                  <li><a class="dropdown-item" href="#">Maintenaince Inspection Training</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</main>
<router-outlet></router-outlet>