.main {
    background-color: 	#2eabe0;
    padding: 20px;
    text-align: center;
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
  }
  

.Navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-outline-success {
    border: #2eabe0, 2px, solid;
    color: rgba(0,0,0,.9);
    box-shadow: #2eabe0;
}

.btn-outline-success:hover {
    background-color:#2eabe0;
}

.btn-outline-success.btn:active {
    background-color:#2eabe0;
}

