@if(showAlert){
    <div class="alert alert-{{ alertType }} alert-dismissible fade show fixed-top" role="alert">
      {{ alertMessage }}
      <button type="button" class="btn btn-success" aria-label="Close" (click)="closeAlert()">Close</button>
    </div>
}
<app-navbar></app-navbar>
<div class="Page-Column">
    <div class="Page-Row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Inspection</th>
                    <th scope="col">Number of Images Processed</th>
                    <th scope="col">County Images Taken</th>
                    <th scope="col">Overall Loss Rate</th>
                    <th scope="col">Loss Per Image</th>
                </tr>
            </thead>
            <tbody *ngFor="let imagetrainingdetail of imagetrainingdetails">
                <tr>
                    <td scope="row">{{ imagetrainingdetail.id }}</td>
                    <td>{{ imagetrainingdetail.inspectionname }}</td>
                    <td>{{ imagetrainingdetail.numOfImages }}</td>
                    <td>{{ imagetrainingdetail.county }}</td>
                    <td>{{ imagetrainingdetail.overalllossrate }}</td>
                    <td>{{ imagetrainingdetail.lossPerImage }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="Page-Row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Inspection Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let modeldetail of modeldetails">
                <tr>
                    <td>{{ modeldetail.inspectionName }}</td>
                    <td>{{ modeldetail.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>