/* src/app/homepage/homepage.component.css */
body{
  background-color: #f8f8f8
  
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; 
  margin: 10px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  background-color: 	#116530;
  padding: 20px;
  text-align: center;
  color: #2c2c2c;
  position: absolute;
}

.Page-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: none;
}

.Page-Column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: auto;
  min-height: auto;
  min-width: none;
  margin-top: 100px;
}

.table {
  width: 1000px;
  color: #2c2c2c;
}

.img-text {
  color: #2c2c2c;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  position: relative;
  animation: fadeInUp, 2s;
}

.card {
  width: 1000px;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*
black: #2c2c2c
green: #116530
pink: #ff8c8c
lightblue: #9ad7f1
white: #f8f8f8
 */